html,
body {
  font-family: "Fira Code", Consolas, Monaco, "Andale Mono";
  background: #010f34;

  color: rgb(255, 255, 255);
  font-weight: 200;
  height: 100%;
}

#__next {
  height: 100%;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:active,
a:hover {
  color: #0ce8da;
}

.youtube-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  margin-bottom: 50px;
}

.youtube-container iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
